@charset "UTF 8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* AQUI É VERSÃO TABLET */
@media screen and (max-width:768px) {
       .relogio{
        width: 80%;
        height: 70%;
    
       }
       .relogio > section{
        border-radius:50%;
        margin: auto;
        
        
       }
       #Horas, #Minutos, #Segundos{
      margin-top: 10px;
      padding: 10px;
       }
       
    }